[submodule "lab5/ml-agents"]
	path = lab5/ml-agents
	url = https://github.com/Unity-Technologies/ml-agents.git
[submodule "lab5/unityManipulator"]
	path = lab5/unityManipulator
	url = https://github.com/RobolabGs2/AI_RL_Lab_01.git
